<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span>Book</span> {{ book.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Isbn</span></dt>
                <dd>
                    <span>{{ book.isbn }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ book.title }}</span>
                </dd>
                <dt><span>Publisher</span></dt>
                <dd>
                    <span>{{ book.publisher }}</span>
                </dd>
                <dt><span>Publication Year</span></dt>
                <dd>
                    <span>{{ book.publicationYear }}</span>
                </dd>
                <dt><span>Subjects</span></dt>
                <dd>
                    <span *ngFor="let subjects of book.subjects; let last = last">
                        <a [routerLink]="['/subject', subjects?.id, 'view']">{{ subjects.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Authors</span></dt>
                <dd>
                    <span *ngFor="let authors of book.authors; let last = last">
                        <a [routerLink]="['/author', authors?.id, 'view']">{{ authors.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_LIBRARIAN']"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
