<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-library-user-heading">Create or edit a Library User</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cpf">Cpf</label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                           formControlName="cpf"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_rg">Rg</label>
                    <input type="text" class="form-control" name="rg" id="field_rg"
                           formControlName="rg"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                           formControlName="username"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_suspensionDate">Suspension Date</label>
                    <div class="input-group">
                        <input id="field_suspensionDate" type="text" class="form-control" name="suspensionDate"
                               ngbDatepicker #suspensionDateDp="ngbDatepicker" formControlName="suspensionDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="suspensionDateDp.toggle()"><fa-icon
                                icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_studentType">Student Type</label>
                    <select class="form-control" id="field_studentType" name="studentType"
                            formControlName="studentTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="studentTypeOption.id"
                                *ngFor="let studentTypeOption of studenttypes; trackBy: trackById">{{ studentTypeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
